.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    background-color: #111;
    padding-top: 20px;
    transition: left 0.3s ease;
}

#sidebar-toggle:checked + .sidebar {
    left: 0;
}

.sidebar h2 {
    color: #fff;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background-color: #555;
}

.content {
    margin-left: 0;
    padding: 20px;
}

.content h2 {
    color: #333;
}

.content p {
    color: #555;
}

.toggle-checkbox {
    display: none; /* Hide the checkbox */
}

.toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}

.order-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;

    justify-items: center;
}

.text {
    display: flex;
    justify-content: center;
}

.button-box {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/** Table Styling **/
table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkcyan;
    color: white;
}

.order-box button {
    background-color: white;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.order-box button:hover {
    background-color: darkcyan;
    color: white;
}