.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box {
    flex-grow: 2;
}

.flex-box1 {
    flex-grow: 2;

}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.btn-container {
    text-align: center; /* Centrerer indholdet i containeren */
}

.btn, .btn1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn, .btn1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width: 375px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
    }

    .btn, .btn1 {
        width: 80%;
    }
}
