/* Header */

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.logo {
    padding: 10px;
}

.logo-click {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    object-fit: contain;
}


.right-div {
    display: flex;
    justify-content: space-between;
}

.account {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.account-click {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}