<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/admin.css" th:href="@{/css/admin.css}" rel="stylesheet"/>
<head>
    <title>Admin Panel</title>
    <link rel="icon" type="image/x-icon" href="/public/images/foglogo.png" th:href="@{/images/foglogo.png}">
</head>

<body>
<input type="checkbox" id="sidebar-toggle" class="toggle-checkbox">
<div class="sidebar">
    <h2>Admin Dashboard</h2>
    <ul>
        <li><a href="#">Users</a></li>
    </ul>
</div>

<label for="sidebar-toggle" class="toggle-btn">&#9776; Toggle Sidebar</label>

<div class="content">

</div>
</body>
</html>
