<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Velkommen til Fogs Carport</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/frontpage.css" th:href="@{/css/fronpage.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/public/images/foglogo.png" th:href="@{/images/foglogo.png}">

</head>

<body>

<div class="flex-container">
    <div class="flex-box1">
        <img src="../public/images/foglogo.png" th:src="@{/images/foglogo.png}" alt="">
    </div>
    <div class="flex-box">
        <img src="../public/images/carportsu.jpg" th:src="@{/images/carportsu.jpg}" alt="">
    </div>

</div>


<div class="btn-container">
    <button class="btn">Button 1</button>
    <button class="btn1">Button 2</button>
</div>

</body>
</html>