<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CarportProjekt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/loginstyles.css" th:href="@{/css/loginstyles.css}" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href="/public/images/foglogo.png" th:href="@{/images/foglogo.png}">
</head>
<body>
<div class="logo-container">
    <img src="../public/images/foglogo.png" th:src="@{/images/foglogo.png}" alt="Logo">
</div>
<div class="flex-MainContainer">
    <div class="flex-box3">
        <img src="../public/images/byg-selv-carporte.jpg" th:src="@{/images/byg-selv-carporte.jpg}" alt="">
    </div>
    <div class="flex-box">
        <h1>Login page</h1>
        <form action="login" method="post">
            <div>
                <label for="Username">Username</label>
                <input type="text" name="username" id="Username" placeholder="Enter your username" required>
            </div>
            <div>
                <label for="Password">Password</label>
                <input type="password" name="password" id="Password" placeholder="Enter your password" required>
            </div>
            <h3 th:text="${message}"></h3>

            <div class="button-group">
                <input type="hidden" name="redirect" th:value="${redirect}">
                <button type="submit" name="Login">Login</button>
            </div>

            <div class="register-link">
                <p>Don't have any account? <a
                        href="signup">Register</a></p>
            </div>
        </form>
    </div>
    <div class="flex-box2">
        <img src="../public/images/kontorarbejder.jpg" th:src="@{/images/kontorarbejder.jpg}" alt="">
    </div>
</div>
</body>
</html>




