<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuickByg | Bekræftelse</title>
    <link href="../public/css/QuickByg.css" th:href="@{/css/QuickByg.css}" rel="stylesheet"/>
    <link href="../public/css/header.css" th:href="@{/css/header.css}" rel="stylesheet"/>
    <link href="../public/css/FogStyles.css" th:href="@{/css/FogStyles.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/sansation" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/images/Foglogo.png" th:href="@{/images/Foglogo.png}">
</head>
<body>

<div class="header">
    <div class="left-div">
        <div class="logo">
            <form>
                <button class="logo-click" formaction="/">
                    <img src="../public/images/Foglogo.png" th:src="@{/images/Foglogo.png}">
                </button>
            </form>
        </div>
    </div>
    <div class="right-div">
        <form method="get">
            <div class="account">
                <button class="account-click" formaction="login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 25 25">
                        <path fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12.5 12a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM5 20v-1a4 4 0 0 1 4-4h7a4 4 0 0 1 4 4v1h0">
                        </path>
                    </svg>
                    <span>Fog Konto</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="main">
    <div class="text-box">
        <h1>Quick-byg tilbud oplysninger er nu sendt til FOG</h1>
        <h3>FOG vil snart kontakte dig, angående dit tilbud om carport</h3>
    </div>
</div>


<div class="footer"></div>


</body>
</html>