<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuickByg | Oplysninger</title>
    <link href="../public/css/QBFormpage.css" th:href="@{/css/QBFormpage.css}" rel="stylesheet"/>
    <link href="../public/css/QuickByg.css" th:href="@{/css/QuickByg.css}" rel="stylesheet"/>
    <link href="../public/css/header.css" th:href="@{/css/header.css}" rel="stylesheet"/>
    <link href="../public/css/FogStyles.css" th:href="@{/css/FogStyles.css}" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/sansation" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/public/images/Foglogo.png" th:href="@{/images/Foglogo.png}">
</head>
<body>

<div class="header">
    <div class="left-div">
        <div class="logo">
            <form>
                <button class="logo-click" formaction="/">
                    <img src="../public/images/Foglogo.png" th:src="@{/images/Foglogo.png}">
                </button>
            </form>
        </div>
    </div>
    <div class="right-div">
        <form method="get">
            <div class="account">
                <button class="account-click" formaction="login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 25 25">
                        <path fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12.5 12a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7ZM5 20v-1a4 4 0 0 1 4-4h7a4 4 0 0 1 4 4v1h0">
                        </path>
                    </svg>
                    <span>Fog Konto</span>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="main">
    <div class="text-box">
        <h1>Bestil Quick-Byg tilbud</h1>
        <h3>Udfyld formularen nedenunder og klik på "Bestil tilbud".
            Felter markeret med * SKAL udfyldes!</h3>
    </div>
    <form method="post">
        <div class="forms-box">
            <div class="forms-text">
                <h1>Kontakt oplysninger</h1>
            </div>
            <div class="forms">
                <div class="form-box">
                    <label for="navn">Navn*</label>
                    <input type="text" name="name" id="navn">
                </div>
                <div class="form-box">
                    <label for="adresse">Adresse*</label>
                    <input type="text" name="adresse" id="adresse">
                </div>
                <div class="form-box">
                    <label for="postnummer">Postnummer*</label>
                    <input type="text" name="postnummer" id="postnummer">
                </div>
                <div class="form-box">
                    <label for="by">By*</label>
                    <input type="text" name="by" id="by">
                </div>
                <div class="form-box">
                    <label for="telefon">Telefon*</label>
                    <input type="text" name="telefon" id="telefon">
                </div>
                <div class="form-box">
                    <label for="email">Email*</label>
                    <input type="text" name="email" id="email">
                </div>
            </div>
            <div class="button-forms">
                <button class="button-design" formaction="QuickByg/Oplysninger">Bestil tilbud</button>
            </div>
        </div>
    </form>
</div>

<div class="footer"></div>

</body>
</html>